<div class="home-index">
  <h1>You did it! You're on grizzly!</h1>
  <p>Come find me in <code>app/views/home/index</code> and edit me. Your development server will restart automatically and you will see your edits when you refresh the page.</p>
</div>