<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express &amp; Handlebars</title>
  {{{ includeCSS "style" }}}
</head>
<body>
  {{> header}}
  <main class="main-layout">
    {{{ body }}} 
  </main>
</body>
</html>