<header class="header">
  <ul class="header-links">
    <li><a href="/">Home</a></li>
    {{#if user}}
    <li><a href="/user">User</a></li>
    <li><a href="/auth/logout">Logout</a></li>
    {{else}}
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/sign-up">Sign Up</a></li>
    {{/if}}
  </ul>
</header>